<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ film_detail.title }}</title>
</head>
<body>
    <a href="/films/"><button>Назад</button></a>
    <h4> Название фильма: {{ film_detail.title }}</h4>
    <a href="{{ film_detail.link }}"> Ссылка:  {{ film_detail.link }}</a>
    <p> Режиссер: {{ film_detail.producer }}</p>
    <b> Оценка: {{ film_detail.rating }}</b>
    <i> Длительность: {{ film_detail.duration }}</i>
    <hr/>
<h2>Отзывы к фильму</h2>
{% for i in reviews %}
    <p> Фильм: {{ i.film }}</p>
    <p> Отзыв: {{ i.text }}</p>
    <hr>
{% endfor %}
</body>
</html>