{% extends 'main.html' %}
{% load static %}
{% block content %}
    {#    <div class="content" role="alert">#}
    {#<img src="{% static 'images/астронафт.jpg' %}" style="height: 100px; width: 100px" alt="">#}
    <h1>FILMS</h1>
    {% for i in film_list %}

        <div class="card" style="width: 18rem; margin: 30px">
            <img
                    {% if i.image %}
                        src="{{ i.image.url }}"
                    {% else %}
                        src="{% static 'images/астронафт.jpg' %}"
                    {% endif %}
                        class="card-img-top" style="height: 300px;
                                  margin-left:30px;margin-right:80px; width: 220px; margin-top: 20px">
            <div class="card-body">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{ i.rating }}</p>
                <p class="card-text"></p>
                <a href="/films/{{ i.id }}/" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    {% endfor %}
    {#    </div>#}
    <div class="container text-center">
        <div class="row">
            {#            <div class="col">#}
            {#                Column#}
            {#            </div>#}
            {#            <div class="col">#}
            {#                Column#}
            {#            </div>#}
            {#            <div class="col">#}
            {#                Column#}
            {#            </div>#}
        </div>
    </div>
{% endblock %}
