<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">'
    <style>
        .rounded-img {
            width: 60%;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(26, 9, 9, 0.5);
            padding: 1em;
            margin-bottom:  1em;
        }
    </style>
</head>
    <body>
    <div class="container text-center">
        <img class="rounded-img" src="car.jpg" alt="car" />
        <h1>Alymkulov Ryspai</h1>
        <p>whats upp </p>
        <button>like!</button>
    </div>

    </body>
</html>